[workspace]
authors = ["Eugenio La Cava"]
channels = ["conda-forge","https://conda.modular.com/max-nightly/", "https://repo.prefix.dev/modular", "https://repo.prefix.dev/mojo", "https://repo.prefix.dev/modular-community"]
name = "mojo-practice"
platforms = ["linux-64", "linux-aarch64"]
version = "0.1.0"

[tasks]

[dependencies]
scipy = ">=1.16.0,<2"
matplotlib = ">=3.10.3,<4"
python = ">=3.12.11,<3.14"
numpy = ">=2.3.1,<3"
modular = "25.4.*"
magic = ">=8.3.486,<9"
tectonic = ">=0.15.0,<0.16"
optuna = ">=4.4.0,<5"
git-lfs = ">=3.7.0,<4"
seaborn = ">=0.13.2,<0.14"

[environments]
dev = ["dev"]

[feature.dev.dependencies]
pytest = ">=7.0.0"
pytest-cov = ">=4.0.0"
ruff = ">=0.1.0"
mypy = ">=1.0.0"
black = ">=22.0.0"
pre-commit = ">=2.0.0"
bandit = "*"
safety = "*"
twine = "*"
pip = "*"

[feature.dev.pypi-dependencies]
build = "*"
pip-audit = "*"
pytest-benchmark = "*"
detect-secrets = "*"
mdformat = "*"
pymupdf = "*"
