#!/bin/bash
TAILSCALE_HOSTNAME={{ tailscale_hostname }}

# Renew certificate
sudo tailscale cert --domain $TAILSCALE_HOSTNAME

# Copy new certificates
sudo cp /var/lib/tailscale/certs/${TAILSCALE_HOSTNAME}.crt {{ minio_certs_path }}/public.crt
sudo cp /var/lib/tailscale/certs/${TAILSCALE_HOSTNAME}.key {{ minio_certs_path }}/private.key
sudo chown {{ minio_user }}:{{ minio_user }} {{ minio_certs_path }}/*
sudo chmod 600 {{ minio_certs_path }}/private.key
sudo chmod 644 {{ minio_certs_path }}/public.crt

# Restart MinIO to apply new certificates
cd ~/minio-setup
docker compose restart minio

echo "Certificates updated for $TAILSCALE_HOSTNAME at $(date)"